@{
    ViewBag.Title = "Expense Tracker";
}
@Html.Hidden("ChartData", null, new { id = "chart-data-url", data_chartDataUrl = Url.Action("ChartData") })
<!-- PAGE -->
<div >
    <canvas id="myChart" width="100" height="100"></canvas>
</div>

<!-- JAVASCRIPTS -->
@section scripts{
    <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/App/Home.js"></script>
   

}